/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Colors %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/*
#ecf4f9  #d0e4f0  #a6c6d9  #7592a3  #475e6b  #3d515c
#f16221  #f7f8f9  #eaebee  #faebe7  #fff9e9  #eff5ea
*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Font %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

 body,
 .message-popup .message-popup-head h2,
 .message-popup .message-popup-head a,
 input.input-text,
 textarea,select,
 button,
.form-button,
.grid-severity-critical,
.grid-severity-critical span,
.grid-severity-major,
.grid-severity-major span,
.grid-severity-minor,
.grid-severity-minor span,
.grid-severity-notice,
.grid-severity-notice span,
.popup-window .content-header {
	font-family: 'Roboto', sans-serif !important;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Login %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

body#page-login {
	background-color: #3d515c;
	background-image: url('https://picsum.photos/1920/1080?random&blur');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: calc(100vh - 120px);
}

body#page-login:after {
	display: block;
	position: fixed;
	content: '';
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
	z-index: -1;
}

.login-container {
	width: 345px;
	margin: 120px 0 0;
	padding-left: 200px;
	background: url('images/logo.svg') left center no-repeat;
	margin-left: calc(50vw - 372px);
}

.login-form {
	background: #fff;
	border: none;
	padding: 40px 50px;
	box-shadow: 0 30px 150px rgba(0,0,0,0.5);
}

.login-form .input-box {
	margin: 10px 0;
}

.login-form .captcha {
	padding: 0;
}

.login-form .captcha-input {
	float: none;
	margin: 0;
}

.login-form .captcha-image {
	border: 1px solid #aaa;
	float: none;
	margin: 5px 0 10px;
	position: relative;
}

.login-form .input-box input.input-text {
	width: calc(100% - 18px) !important;
	padding: 8px;
}

.login-form .form-buttons {
	margin: 20px 0 0;
}

.login-form .form-buttons .left {
	line-height: 32px;
}

.login-form button,
.login-form input[type="submit"] {
	height: 32px;
}

.login-container .legal {
	background: none;
	padding: 0;
	border: none;
	border-top: none;
	position: fixed;
	bottom: 30px;
	left: 0;
	width: 100%;
	color: #fff;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.login-box .bottom {
	display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Main %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

 body {
	background: #eaebee;
	font-size: 13px;
	overflow-x: hidden;
}

.wrapper {
	margin-bottom: 90px;
	min-width: 1240px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 40px;
	z-index: 200;
}

.header-top {
	border-bottom:none !important;
}

.header-top .logo {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	margin: 0;
	height: 40px;
	padding: 0 27px;
}

.header-top .logo svg {
	height: 40px;
	width: auto;
}

.header-right {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	color: inherit;
	z-index: 200;
	height: 40px;
	background: #3d515c;
}

.header-right fieldset {
	display: inline;
	line-height: 40px;
}

.nav-bar {
	background-image: none;
	border: none;
	padding: 0 0 0 74px;
	background: #3d515c;
}

.middle {
	min-height: calc(100vh - 205px);
	background-image: none !important;
	background-color: #fff !important;
	padding-bottom: 50px;
	margin-top: 40px;
	border-bottom: 1px solid #bbb;
}

.wrapper-popup .middle {
	min-height: auto;
	margin-top: 0;
	border-bottom: none;
	padding-bottom: 0;
}

.footer {
	background: #eaebee;
	padding: 10px 2.8em 10px 2.8em;
	position: fixed;
	left: 0;
	bottom: 0;
	width: calc(100% - 5.6em);
	z-index: -1;
	font-size: 85%;
}

.footer #footer_bug_tracking {
	margin-right: 32px;
}

.footer .bug-report img {
	vertical-align: middle;
}

.notification-global {
	margin-top: 0;
	padding: 5px 27px 5px 54px;
	font-size: 12px;
	background: #fff9e9 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABHQAAAR0BDfQKfgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFESURBVDiNzZG/SsNQFIe/E8W2Qps3cCi1S8AhpdndunQoTr5AJ3FQaMVJN6GL6JuIIE52L2ZQiiClz2A7RSE9DklD0qYpXcQfXHLvub/7nT+B/ybJulTL2iGf7wGK53VkOPxZ5d3OTFMoXKJ6Gu6/gKuNK1LHqeL7b0AuDHkYhiWDwTjNb6ysxvfvYhCAPKq3G1Wktt1A5Ck8vobfWnCpDXHd57UgrdV2gQ9gL3DIYQh4CS1jikVL+n0v/m65NZFOBElXmem0uxhMgNRxqqheZEDmybpar5fjoeTv9/0bkgMG1XYKqoBqDziK2JHftpuIPKytJpmkKa77GIG0Uslhmu/Afkobi8OO65PJ5EBGo+9gRqXSeSokALRXtAdQxTTPYD5sw2hlNHAcrnSptmA+7NnsGpETVLcygMsS8RG53+jNn+kXF4NduHVOqKsAAAAASUVORK5CYII=) 27px 4px no-repeat;
}

.header + .notification-global {
	margin-top: 40px;
}

.message-popup + .middle,
.notification-global + .middle {
	margin-top: 0;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Menu %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#page-help-link:link, #page-help-link:visited {
	display: none !important;
}

#nav {
	border-left: 1px solid rgba(255,255,255,0.2);
}

#nav > li {
	background: none;
	border-right: 1px solid rgba(255,255,255,0.2);
}

#nav > li:hover {
	background: #7592A3;
}

#nav > li > a {
}

#nav a {
	line-height: 40px;
}

#nav ul a,
#nav ul a:hover {
	line-height: 1.66em !important;
}

#nav ul li,
#nav ul ul {
	background: none !important;
	padding: 0 !important;
}

#nav ul {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
	background: #e8e3de;
	padding-bottom: 0;
	border: none;
	top: 40px;
	width: 220px;
}

#nav ul ul {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
}

#nav li.over ul li.over ul {
	left: 150px;
}

#nav li.active {
	background: #f16221 !important;
}

#nav li.over ul {
	left: 0px;
}

#nav li.over a {
	color: #ecf4f9;
}

#nav ul span,
#nav ul li.last li span {
	padding: 5px 15px;
	background: none;
	border-bottom: 1px dotted #a6c6d9;
}

#nav ul li.last > a span {
	border-bottom: none;
}

#nav ul li a {
	background: #ecf4f9;
}

#nav ul li a:hover {
	background: #d0e4f0;
}

#usermenu {
	display: inline;
	float: right;
	text-align: left;
}

#usermenu ul {
	position: absolute;
	width: 220px;
	top: 40px;
	right: -10000px;
	display: none;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
	background: #fff;
}

#usermenu li.over ul {
	right: 27px;
	display: block;
}

#usermenu > li > a {
	padding: 0 27px 0 20px;
	display: block;
}

#usermenu > li > a svg{
	height: 40px;
	width: auto;
}

#usermenu li ul li {
	right: 5px;
	display: block;
}

#usermenu li.over ul a, #usermenu ul li a:hover {
	color: #2f2f2f;
	text-decoration: none;
	background: #ecf4f9;
	display: block;
}

#usermenu ul li a:hover {
	background: #d0e4f0;
}

#usermenu li ul span {
	border-bottom: 1px dotted #a6c6d9;
	display: block;
	line-height: 31px;
	padding: 0 10px;
}

#usermenu ul li.last span {
	border-bottom: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Grid %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.grid tr.even, .grid tr.even tr {
	background: #f7f8f9;
}

.grid tr.on-mouse {
	background: #eff5ea;
}

.grid tr.on-mouse td {
	border-bottom-color: #95a486;
}

table.actions {
	border: 1px solid #d1cfcf;
	margin: 0;
	border-bottom: none;
}

table.actions td {
	vertical-align: middle;
	padding: 5px 10px;
}

.massaction {
	background: #f7f8f9;
}

.massaction td {
	width: 50%;
	border-top: 1px solid #fff;
	padding: 5px 5px 5px 10px;
}

.massaction .entry-edit fieldset label {
    margin-right: 5px;
}

.grid tr.headings {
	background: #d0e4f0;
}

.grid tr.headings th {
	border-color: #fff #bbb #fff #fff;
	padding: 4px 5px 2px;
	font-size: .9em;
	position: relative;
}

.grid tr.headings th.no-link {
	padding-top: 5px;
}

.grid tr.filter {
	background: #ecf4f9;
}

.grid tr.filter th {
	border: 1px solid #bbb;
	border-color: #bbb #bbb #7592a3 #fff;
}

.grid tr.filter .range .range-line {
	margin-bottom: 1px;
	line-height: 25px;
}

.grid tr.headings th a.sort-arrow-desc,
.grid tr.headings th a.sort-arrow-asc {
	background: rgba(246, 247, 248, 0.75);
	border: none;
	padding-bottom: 2px;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	padding-top: 5px;
}

.grid tr.headings th a.sort-arrow-desc:hover,
.grid tr.headings th a.sort-arrow-asc:hover {
	background: rgba(246, 247, 248, 1);
}

.grid th,
.grid td {
	padding: 5px 5px 3px;
}

.grid table td.empty-text {
	padding: 40px 15px;
	background: #fff9e9;
	border-width: 0 0 1px;
	font-weight: bold;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Form %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

button,
.form-button {
	border: 1px solid rgba(0,0,0,0.25) !important;
	padding: 4px 10px 3px 10px !important;
	background: #ff8c00;
	text-transform: uppercase;
}

button.icon-btn {
	width: 36px !important;
}

.form-button:hover,
.form-button:active,
button:hover,
button:active {
	background: #f16221;
}

button.fail,
button.cancel,
button.delete {
	background: #ff3333;
}

button.fail:hover,
button.cancel:hover,
button.delete:hover,
button.fail:active,
button.cancel:active,
button.delete:active {
	background: #cc0000;
}

button.back {
	background: #fff;
}

button.back:hover,
button.back:active {
	background: #eeeeee;
}

button.success {
	background: #6abf40;
}

button.success:hover,
button.success:active {
	background: #4a862d;
}

button.disabled,
button.disabled:hover,
button.disabled:active {
	background: #7592a3;
	color: #fff;
	cursor: default;
	opacity: .35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
}

button span {
	background-position: 0 50% !important;
}

button.save span {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADQSURBVCiRnZI9TkJBFEbPULxYPkjcBb2GUGhBwh6IS6AkMaEycREQ0MIV2LAAGkhQK+MSDJsgHprRjI/3+Pu6+03OvfPNXDhToWiobeAOaEbrC5iGEFalHdRMfbZcP+pEvSgDpxXQr1ZqXoRuDkBvaq4O1KsUfNoDvat19T7WoxRcRnOtdtXvWH9EaJg0mgPUCq97CTSAW2AGdIA+8Jgky9KJk6TjRu1F/6Hk6uMUbBUON+prRebrU7/j/7QjF8AY5y/fMSv3CbyEEBY7087RFsg6hLC3TKWcAAAAAElFTkSuQmCC) 50% 50% no-repeat;
}

button.add span {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACySURBVCiRnZI7CkIxFETPiI2gNlaCiKilO3BbFnYWls8NuC5rf42FoCJiIQhj8eIH5CXirTKZOUwSAn+OngvbXaCbyC8lrV+g7T6wAHYJsAkMJK3KYaMFXCT1YpTtPdAGVqVIKLOdFfnlIgOoxNq/QNszoAYMg56TX2OUajwDd+AW9Am4JhslTUNTNejxT0f9mEPEKwYlTX4Bt0Dd9jEWJn/p988BsN0BGgnwIGmTyMTnAercNi0Q5lMFAAAAAElFTkSuQmCC) 50% 50% no-repeat;
}

button.cancel span,
button.delete span {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB/SURBVCiRY2AgEzDCGP///9dlYGAQh3KdGBgYwqHsFQwMDPuh7JeMjIyX0TVOYWBg8CRg0XZGRsYccl2J4VQRBgaGWwTUqzEyMr5hYGBgYEEzRJBYi5hIdCEcjDSN/4hQ/xfGgEcHIyPj2////89hYGAwxKHpHCMj4zvy3IcEAO3RGZ/NvTvLAAAAAElFTkSuQmCC) 50% 50% no-repeat;
}

button.back span {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAC/SURBVCiRxZErDsJAFEXPowg2gCCIKsDAIhoMG+g0XQlLatJ0VkD4OIJA4fBgKhC4Ji+DKaQQPsXAlTNzcu57A3+PtbaTZVnv07vGA+Sr6to5160NpmnaVdUZ4NdpJiXUBhbAsDzfA+dngHNuHkXRtGmt7ajqEhhU7vsvTSItYNooikKu5m/SjOP4mCRJ4HnesmLaAqcXzIaqqZxzDoxEJAjDcPXOeNuqMSYHxsCuTtW7fzTG5Ko6EZFDHfi3uQBpozyKaOwACgAAAABJRU5ErkJggg==) 50% 50% no-repeat;
}

button.go span {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADRSURBVCiRnZI9SgRBEEbfJ4KIYOIFZDE2MTLbM6wgOCDiZTyGsUcQ9AoeYdFNF3TDdTB4BvbIzLozAxY0dP28qq+ahn9amos6ASadZPKsngMHrfBLklUDnahrdd4+JfdY/LU/Nv1toU7VZZ8stVJr9asBd8Z2UW+Ae6ACVpvJrRPVS/VTrYr/pJ4Ngup12Ws2JKcDqhcFutqoWzY77m5psgfcAbdJHvqG/QGT1OppkrpXIj2vOga1Jy6AQ/VjpH4feIXulzsGjkbA9yRvY2oG7RukzqX6vWeZGgAAAABJRU5ErkJggg==) 50% 50% no-repeat;
	padding-left: 18px
}

input.input-text,
textarea,
select {
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
}

input.input-text, textarea {
	padding: 2px 2px 3px;
	line-height: 18px;
}

.field-100 {
	border: none;
	padding: 0;
	background: none;
	margin: 0;
}

.field-100 textarea,
.field-100 input.input-text {
	width: calc(100% - 8px) !important;
	padding: 2px 2px 3px !important;
	border: 1px solid #aaa !important;
}

select {
	padding: 2px 24px 3px 5px;
	line-height: 18px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABDQAAAQ0BROAatAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADGSURBVDiN5dJBCsIwEIXhvyJqFUzSxFa8/6kE8QCaNBUVihZdaMXSVAU3grML8/JlBhItV+sLX1bvW+AfkMlk/PJCqN9A5qlhkaUkSgaBREkWWUo2M93I6VwBoJXEaNUIGq3Qd/xcVY1e//lgXX57UQqUEABsbY7RCUpMAXC+eOSCSA31oggppighGA2GxPEIAF/sWkBrnbo21uF8AfAAnC/YWBeKtycJreZyj819V7QbqaGyLNkfjq9i7z/bO+Aj5JP6HeQK061AapEXatYAAAAASUVORK5CYII=) right 3px top 3px no-repeat;
}

.select-css::-ms-expand {
	display: none;
}

select.multiselect {;
	background: #fff;
	padding: 5px;
}

input.input-text:hover,
textarea:hover,
select:hover {
	outline: 2px solid rgba(117, 146, 163, 0.1);
}

input.input-text:focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 0 2px rgba(117, 146, 163, 0.25);
}

.header-right fieldset input.input-text {
	width: 250px;
	border: 0px solid #666E73;
	margin-top: -4px;
	background-color: rgba(255,255,255,0.5);
	padding-left: 10px;
	min-width: 250px;
	transition: width 100ms;
	transition-delay: 200ms;
}

.header-right fieldset input.input-text:focus {
	width: calc(100vw - 190px);
}

.header-right fieldset input.input-text:hover,
.header-right fieldset input.input-text:focus {
	background-color: #fff;
	outline: none;
	box-shadow: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	position: relative;
	margin: 2px 0;
	height: 16px;
	width: 16px;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fff;
	border: 1px solid #aaa;
}

input[type="radio"] {
	border-radius: 50%;
}

input[type="checkbox"]:after,
input[type="radio"]:after {
	display: block;
	position: absolute;
	background-color: #f16221;
	width: 10px;
	height: 10px;
	top: 2px;
	left: 2px;
}

input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
	content: " ";
}

input[type="radio"]:checked:after {
	width: 8px;
	height: 8px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
}

input.input-text:disabled,
textarea:disabled,
select:disabled {
	outline: none;
	opacity: 0.5;
}

select option:disabled,
select:disabled option {
	color: inherit !important;
	text-shadow: none;
}

.export select {
	margin: -2px 2px 0;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Other %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.export img {
	display: none;
}

.content-header {
	border-bottom: none;
}

.content-header h3 {
	font-size: 1.5em;
	line-height:32px;
	margin: 0;
}

.icon-head {
	padding-left: 0;
	background-image: none !important;
}

.content-header-floating {
	border-bottom: 1px solid #bdbdbd;
	background: #fff9e9;
	opacity: 1;
	top: 40px;
}

.content-header-floating h3 {
	margin-left: 20px;
}

.wrapper-popup + script + .content-header-floating {
	top: 0;
}

.messages li {
	margin-bottom: 20px !important;
	font-size: 1em !important;
}

.notice-msg {
	background: #fffbf0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA/QAAAP0B4nuDkwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGUSURBVDiNhZMxT9tQFIW/++xEUSPRqSNko2rpDlKHTnEEiP6AtLE3pNorP6BSmZio0ixmQUQgEGMkAioj/4AqatKJ/IeGEOP3OlQBmxDnbu/cc8479z49yKiK5287teBbFsfOasYmFyo7Mlmcx9tcf9f5HJRn8cqe71Rcf3cygZiftpYegFPbKgqDqoi8BzBwlS9ER60wHOQi6WrrUScTSbxgCUMbmH/S6qtYrbYP650kmDJwaltFkdsOsDBlgpt8IXrbCsPBGFBpt2EtQwxQGt3an5KA7bjBjsb+cXnwvY8yy8zaucgKsLdWDUqxZXylMGKrOwUgmtEMOYgZAeh8LCKo9A7cwBPYzzQwuBfNRnN8TO3AeqmOgV6GvDs3fHWSBFIG7Xr9TrT+CObPM+KeVtbG6enX1JgPI1S8L+tWpH6dHTVuNjY3X4yGub9JYr4QFVthOFirBiVtsXTebJylExgp3ysWAZLvPK4xFuXMayPGmUjwtCpu0IX/hsDvi4PGm+d4U3+jpcyHWFvvAO4jdT2N9w+NtIasvO0hwgAAAABJRU5ErkJggg==) no-repeat 10px 10px !important;
}

.success-msg {
	background: #eff5ea url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA/QAAAP0B4nuDkwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAG4SURBVDiNpZC9axMBGMZ/792ZIC4XQQhBorWtFKLtH6DGbDopKOgkFNFUPQiOTi6moE4uCqZptQF1ipvi4KCUDuKg1hahRiHgx9DSIjrY+3o76F0Nudqhz/Z+PD8eHtikJGl5cMQeEjVOIrrn79snAm1O1Zdn/gsoDdu2nzLGBT2RwFVUm2mRc89ryz+6AKVh2w5S8hIY3CD1uzQcjiBGtA1S1DcyG2IADK3A3XgHUCxn9oMkxY6Vz/Zx+8oT8tl+gFMHzm8vrCUQPc46hQLszQ9yo/KIbwttvi+2AcRAj8UAxeiNnremt5HbsTs29+QGuFqu0foyx83GZTzf/XMQ6e/oINLpIw7XKw/pyQ3Qu7NA1Znk89cPXBsbYcX93ZXOAlDVVpT/wdNb7Mr2UXUmERHm2zOMTlzC89wOo6DzcQILowmEAJ7vMjruMNt6zfuPr6jWL3aZgTBU8zH/FneonGkAZ6J5i5UiAnZL7k3Vls52dBD6piPwNpo9313HzBvTMivREAOmJxZ/Br5ZFKUBaIJREblvWlbxxZ2FX2tdJKh0IbMvDOSoGhQARJkNlGfTY0tzSf+b0ioFUJThkzTXFgAAAABJRU5ErkJggg==) no-repeat 10px 10px !important;
}

.warning-msg {
	border: 1px solid #bbb !important;
	background: #eaebee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABHQAAAR0BDfQKfgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFcSURBVDiNzZGxSwJhGMZ/72le2tDg3iDk4tjq0qaDxCEORTU6ZUNBRlNtgQhR/4AQtYgEEURTQa4tQbT5L+QgUaH3Nngdp92duEQPfNzH+z3f73ve9+C/ScIOM6VSLNmP1WxE36Kfey/N5leQNxoGSg7MA4VtGe67wOHUibLWZlqwnwHTKX2oYWfarcuOn98IfEEHpx4IwKyhxslUibLWek7g1rE8Db+6NHxaco+t87uJoKVCOZGIvL8iLACosgwgwr1j6UTmo5mHRuPDe+9Xa3Mz73s/kACl+t1+dbw4Aspam2lV9kMgOOmq2eJaylsb+f0G9rGODhgRyj6sOLbUgKLrc9OsbBTE0OtJabxStNC+urgZhgDy+YophtZ9zcryz8DHJUg9n6+YLqgXf9sFFn3NQjmgPYB0z+zuuCCxsUI6WHWWv0QtcIZtix6JsgVEQoB+GmDI2ZR3/kjf7NxcK6i7R9QAAAAASUVORK5CYII=) no-repeat 10px 8px !important;
	color: #3D515C !important;
}

.error-msg {
	background: #faebe7 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA/QAAAP0B4nuDkwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAErSURBVDiNpZI7SwNBFIW/O7tF0uU3KFa6ZvMorGJrpaCQzkbsBAv/jaAoKYVY21qEFJvE5zaiP0IUkmqvhbN57I4JktMMe/acj3uHgSUlLlMrlTLGHAAr1vpAtS2DwfNcgIZhCd+/RHXfxQXawLH0+585gIZhCc+7BzYXTP0EbKcQM7aNuciVRbqIdDOAMiLnMxNorRZYcvZOmva8ya1jTCBRFKcT7DnK8yQkye70Cqv/KFuErAH4C2Jbizi+pb2j6vp/9mdT9Q3SFVTbQOKINZlc5LQSPO8Wpt9BtdpC5DATfLFnMOOKXEmvdzSZAKBYPAEeM4AgV4YHhsPT9GMMkE7ni0KhAbT4fbZZKXDNaNSQOP4e9xxBtF7fQHUHWLfWK8bcSRTFrvxS+gE4kU46qeS8fgAAAABJRU5ErkJggg==) no-repeat 10px 10px !important;
}

.link-store-scope {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA/QAAAP0B4nuDkwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGlSURBVDiNpZLPS1RhFIafc+40k41Cf0ArI6gwBpG2rYL2Ci5cNG3CoKkGjNwKrgZqytJFC1EyRCJb105p1SalGgip/yCCwEhz7ve28M4v76WN7/J8533Oew4fHFOWVZx+ulKSGJMxeFjRdwWtP6yWP/0XUH28dDoXnVg0NJrBFdhrL+Rv1ibHf6UAD2qLA6Ev/96glDw1EM9lwQybBC4mhq1TUeHKzO3xXQBv4/vy8x0zn/f4OSLFmwRtFAeaI2CNJMbw73hvrifB1LPV86640QYaVRcbAbYA3KwUCFeR1RNfiD1cqFfKOw5gIYx1p0E8CbDdGhDHsUmurnt4pGi0awWdzTjaYRhxy6P8D0NTvScN5wByAGZmoLTZWDtoFlZytv8BONPjl1k7gcS3rOmS3rkfXAYupeBuOx2A+zoQMhZYcg+bGewQW/ymDXh0Z+Ir8DJlF7MmZjOyLdcr5U4CAPvzt4Kx3UugiFE84v5YjE7e67R0aWbhVf9u2J83cf3oGyCJ5f5c4W7rF6YALd2fezHk5tcEQ0nTF/Pm21rlRiOr/1j6B2bqlihaOBi+AAAAAElFTkSuQmCC) 0 0 no-repeat;
}


.link-feed {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA/QAAAP0B4nuDkwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEDSURBVDiNxdA9L4NxFAXw322FgU1sYhazRcQgEqMYbAxtYif6fAA7H8DUVGeJUSJWi5HEYGWoGHVpVP+GalKe0k6c6d7cnJd7+G9Eb0jHqtjG+BBOEqpRsQuFvkNpBHLXNCn1lsKXAzRNKJjFOk7QGiBSHCTQxaRzHYeSaU17ihZw+1OcvEDBGxaEuikP2uaMW8HdSAJRsRmZZcmscC1calkUtvA2VCAda6Uj98KGAzs4E069ehLqOcM+YsrlC2VFF9oeURYakiuIrMvNd5CsStY+5yz2PQs3WNLJ95AXCG2h/bnNg44GZmRefnuh078PwXtkxr4nqDGghzySUBvR6A/wAXG3QpH49708AAAAAElFTkSuQmCC) no-repeat left 2px;
	padding-left: 20px;
}

.tabs {
	line-height: 2;
}

ul.tabs,
ul.tabs a {
	background: #ecf4f9;
}

ul.tabs {
	border: 1px dotted #a6c6d9;
	border-width: 1px 1px 0;
}

ul.tabs.config-tabs {
	border: 1px dotted #a6c6d9;
	border-width: 0 1px 1px;
}

ul.tabs a:hover {
	background-color: #d0e4f0;
	background-image: none;
}

ul.tabs a.active {
	padding: 0;
	border-bottom: none;
}

ul.tabs span {
	background: none;
	border-bottom: 1px dotted #a6c6d9;
}

ul.config-tabs dl {
	margin-bottom: 24px;
}

ul.config-tabs dt {
	border-top: 2px solid #849ba3;
	background: #d1dedf;
	padding: 10px 0 8px 1.5em;
}

ul.config-tabs dt {
	border-top: 1px solid #475e6b;
	background: #d0e4f0;
	padding: 10px 0 8px 1.5em;
	color: #475e6b;
}

ul.config-tabs li dl dd:last-child span {
	border-bottom: none;
}

ul.tabs a.changed span.changed {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA/QAAAP0B4nuDkwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADgSURBVDiNxZK9agJBFIW/u/6wr+BLxEZr022RRwgs6bUICL6BhZBCUMv8aWcfMIlNUsfKZxEMcT0WujKB2aAW8VR34JzvnmEGzi1LhyiuPwDXQDHLLOwDhVdvo7uFD5CAtcE+/fH1uw+SdxyBiflk1Jv64lFc321UTbZ8AS4Bgr9v6JehWjq7DZBpnG46VCc1OBhg8AU2OxFgt5PhoPo67FcMmkcDgsQe03kV/twfDVAuudibvgvlLJ/7CmsXKIJxFDc6SIasBXJziQ/wDNyw/50qAd3t6VdYMj1lNfp/bQAHUEEuCQSE6AAAAABJRU5ErkJggg==) 0 5px no-repeat !important;
	height: 24px;
	border: 0;
}

ul.tabs a.error span.error {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADiSURBVDhPYxjc4P9+dgUQhnJJA//PMLD+O8h+HYRBbKgw8eDfAba8/wfZ/4MwiA0VJg78280r/O8A+1uEAexvQWJQacIAaONkkMbZhar/5xSpwlwxGSqNH/w7xKYF9PdvkKYFpcpgDDYAKAaSgyrDDYA27QBpAOHlNYr/V1QrgtlgQ4ByUGXYAVCBF0wxCK+uVfi/uk4ezgdhkBqoclQAizZkxR+3cYMxshjOaAWanI+sEISXVimBMbo4SC1UGwIABV+hK8SFQWqh2hDg30EOu/8H2EKJwf8OcNhCtQ04YGAAAGME7S00xbx4AAAAAElFTkSuQmCC) 0 5px no-repeat !important;
	height: 24px;
	border: 0;
}

ul.tabs-horiz {
	background: #f7f8f9;
	box-shadow: 0 -1px 0 inset #bbb
}

ul.tabs-horiz li {
	margin: 0;
}

ul.tabs-horiz li + li {
	margin-left: -1px;
}

ul.tabs-horiz li a {
	padding: 5px 15px;
	border: 1px solid #bbb;
	background: #eaebee;
}

.content-header-floating .content-header {
	padding: 8px;
}

.switcher {
	margin-bottom: 10px;
	border: 1px solid #a6c6d9;
	background: #ecf4f9;
	padding: 10px;
}

dl.accordion dt,
.entry-edit .entry-edit-head {
	padding: 6px 10px 4px 10px;
	background: #7592a3;
}

.entry-edit .entry-edit-head h4 {
	font-size: 1.1em;
}

.entry-edit-head .right,
.entry-edit .form-buttons {
	margin: -4px -8px -2px 10px;
}

.entry-edit-head .right button,
.entry-edit .form-buttons button {
	border: 1px solid rgba(255,255,255,0.25) !important;
	background: #7592A3;
}

.entry-edit .form-buttons button:hover,
.entry-edit .form-buttons button:active {
	border: 1px solid rgba(255,255,255,0.75) !important;
}

dl.accordion dt a,
div.collapseable a {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABDQAAAQ0BROAatAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFfSURBVDiNzdC9TlsxHAVw31uGoFSszLwGYkMtalWp4hvBhNS16tZnYO3WDm3HSiwwMYStD9A3qDKwQPI3IHyc+DgJp8sNQpBGfEiIs1iW7Z+P7dyzjKTyIfuuJgZ+9jEfNKXaOKAp1XzMBx7p0y2kKIvfzrnZqcjGsVQfBbRaejkV2XDOzQ0uX/wZeYu/6M1aZDDkwyNp8vrakTRpyIcGdj3Sq3FtnaE7b2DHkBvDp1VAowJe//ewR1owcEdSYZHvDcwWuHcs1S1w38CeD1yRVPqQvvnA5dsNQvpo4KUhf5FU+MAVA3uGfGJgvx24Iak08IeBA4+8PbJNG9w0sG/gd0mldbhoYMcClyRNWOSugdkHro79Ex/zBwMHPqSvkorzbnemavDTwH4b3BoLXEGBawZmD/5qSrWqQWrH9O5OwI2n9Xzg32pcvxcwTCumtwaencb05kHAMCfA9KOAJ80/KZMwIhIAIjkAAAAASUVORK5CYII=) 100% 50% no-repeat;
}

dl.accordion dt.open a,
div.collapseable a.open {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABDQAAAQ0BROAatAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFMSURBVDiN1ZO9SkNBFITP3pA0prcUe99DEETBoCaCIggK6gvYC7aChTbaJWV8An0SKxvjPQvCnkvubH7GwhuxSKKxEDzNwu7w7cywK/JvpmM2/50mmXaoFvdKUn5Wi7u/cpAaGmro+YCnYt2aCaAhP1HDUC1ekkw0i1dqGHiL+z8C+CweqGHgQ35N0r11u4skEzXcqaGfGnamO8hwpgZqwLmISJrFQzUM0iwekXSFo6GG/HhShNMvEZwPqKmhpxY7auinAduFo9uJ0bzly2q4+LgRa2qIGtB+Iec04L4ot0Yy8SG/8QEbkzsJ2FRD3xuaJEsiIiRL3tAsOmlM7STN8lU1wBtaI8BoClBrFG0s4DXLV9QADWiTLI/TkCxrQFsNUTOsj/Y/X2xCtyQij6FaqTvneuMgzrleqFbqIvLgyIWxbkhO/Qaz6v5+3gGWeSz8fRFmhgAAAABJRU5ErkJggg==) 100% 50% no-repeat;
}

.columns {
	background: none;
}

div.side-col h3 {
	margin: 10px 0 13px;
	padding: 0 15px;
}

.box,
.entry-edit fieldset,
.entry-edit .fieldset {
	border: 1px solid #bbb;
	background: #f7f8f9;
}

.super-attributes li.attribute {
	border: 1px solid #a6c6d9;
	background-color: #ecf4f9;
}

.super-attributes li.attribute ul.attribute-values {
	margin-top: 20px;
}

.custom-options .option-box {
	border: 1px solid #a6c6d9;
	background: #ecf4f9;
}

.custom-options .option-header {
	background: #ecf4f9;
	border-bottom: 1em solid #ecf4f9;
}


.grid table tfoot tr,
.grid table.border tfoot tr td,
.popup-window #contents-uploader {
	background: #d0e4f0 !important;
	border-color: #fff transparent !important;
}

/* Search */

div.autocomplete {
	z-index: 10000;
	position: absolute;
	background-color: #ecf4f9;
	border: none;
	margin-top: 8px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
}

div.autocomplete ul li.selected {
	background-color: #d0e4f0;
}

div.autocomplete ul li {
	padding: 15px 10px;
	min-height: auto;
	border-bottom: 1px dotted #a6c6d9;
}

/* Orders */

.order-totals {
	background: #FCF5DD;
}

.data.order-tables td .item-text > * {
	display: inline;
	margin-right: 15px;
}

.data.order-tables td .item-text > div {
	float: right;
	margin: 0 0 0 15px;
}

.data.order-tables td br {
	display: none;
}

.data.order-tables td dl.item-options dt,
.data.order-tables td dl.item-options dd {
	display: inline;
	font-style: initial;
}

/* Customers */

.sub-btn-set {
	border: 1px solid #ddd;
	border-width: 0 1px 1px 1px;
	background: #fff;
	padding: 10px;
	text-align: right;
}

.address-list li {
	border: 1px solid #ddd;
	border-width: 0 1px 1px 1px;
	background: #fff;
}

.address-list li.on {
	background: #ecf4f9;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Popup %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#loading-mask,
#popup-window-mask,
.popup-window-mask,
#message-popup-window-mask {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100vh !important;
	background-color: rgba(255,255,255,0.8);
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
}

.message-popup {
	position: fixed;
	background: #f3bf8f;
	outline: 10px solid rgba(243, 191, 143, 0.5);
	padding: 1px;
}

.message-popup .message-popup-head h2 {
	padding: 3px 10px 0;
	font-size: 15px;
}

.message-popup .message-popup-head a {
	border: 1px solid rgba(0,0,0,0.25) !important;
	padding: 4px 10px 2px 10px !important;
	background: #ff8c00 !important;
	text-transform: uppercase;
	font-weight: bold;
}

.message-popup .message-popup-head a span {
	background: none;
	padding-left: 0;
}

.message-popup .message-popup-head a:hover {
	background: #f16221 !important;
}

#loading-mask .loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	padding-top: 40vh;
	background: #fff4e9;
	border: none;
	color: #d85909;
	font-weight: normal;
	text-align: center;
	z-index: 1000;
	background: #fff;
	animation: loader-bg-anim 5s ease infinite;
}

@keyframes loader-bg-anim {
	0% { background: rgba(255, 255, 255, 1); }
	25% { background: rgba(255, 255, 255, 0); }
	50% { background: rgba(255, 255, 255, 0); }
	75% { background: rgba(255, 255, 255, 0); }
	100% { background: rgba(255, 255, 255, 1); }
}

#loading-mask .loader img {
	display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Dialog %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.dialog {
	border: 10px solid rgba(0,0,0,0.25) !important;
}

.top.table_window {
	border-bottom: none !important;
	background: #7592A3 !important;
}

.magento_w,
.magento_e,
.magento_content {
	background: #fff !important;
}

.magento_title {
	margin-left: 10px !important;
}

.magento_close {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA/QAAAP0B4nuDkwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEISURBVDiNpZM/SoNBEMV/A7FL0ANYWYgQxWtYaeE5FAStPICFYNADRLQSjL2n8B/aiNjYeIZA8rPIfrL53C8Wec0ub+a9mZ1hYU5EiVQ3gV1gJVGfwCAiXma6qUvqnWWM1Vt1cZb4uUGc46loog6ypO+CMOdu6uKNLPilttWLjDtXOylWPacL0EoeO5nfMnAcEfvqEDAijtSTFKuGvw28VR1cFlruZR32CvF+3kEJLbVa80JjUjo/avwZcAicAgJ7wBA4yHLef2/qmjrKhtj5Z4gjdXWqpHrdsLIS1//zllThsSCs40FtFweSTK6c7LmOsZNtTYmbPtM6sAV0E/UK3EfEW7HyPPgBIh24vGTL5kgAAAAASUVORK5CYII=) no-repeat 0 0 !important;
}

.backup-dialog {
	box-shadow: none;
}

/* %%%%%%%%%%%%%%%%%%%%% Profiler %%%%%%%%%%%%%%%%% */

#profiler_section {
	padding: 20px 100px 40px 280px;
	margin-bottom: 110px;
	margin-top: -130px;
	border-bottom: 1px solid #bbb;
	box-shadow: 0 40px 40px rgba(0,0,0,0.05);
}

body > a {
	background: #6abf40;
	border: 1px solid rgba(0,0,0,0.25) !important;
	padding: 3px 10px 2px 10px !important;
	position: fixed;
	left: 25px;
	bottom: 10px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

body > a:hover {
	background: #4a862d;
	color: #fff;
	text-decoration: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Calendar %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.calendar,
.calendar table {
	border: none;
	color: #2f2f2f;
	cursor: default;
	background: #ecf4f9;
	font-family: 'Roboto', sans-serif !important;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
}

.calendar table th,
.calendar table td {
	vertical-align: middle !important;
	text-align: center !important;
	padding: 5px 3px !important;
	font-size: 110%;
}

.calendar table tr td:last-child {
	border-right: 0;
}


.calendar .button {
	text-align: center;
	border: 1px solid #fff;
	border-color: #fff #7592a3 #7592a3 #fff;
}

.calendar thead .title {
	font-weight: bold;
	border: 0;
	background: #7592a3;
	font-size: 14px;
}

.calendar thead .name {
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-color: #fff #d0e4f0 #d0e4f0 #fff;
	background: #fff;
}

.calendar thead .weekend,
.calendar tbody td.weekend {
	color: #f16221;
}

.calendar thead .hilite {
	background-color: #d0e4f0;
	border: 1px solid #fff;
	border-color: #fff #7592a3 #7592a3 #fff;
}

.calendar thead .active {
	background-color: #a6c6d9;
	border: 1px solid #a6c6d9;

}

.calendar tbody .day {
	width: 3em;
}

.calendar tbody .day.othermonth {
	color: rgba(47, 47, 47, 0.5);
}

.calendar tbody .day.othermonth.oweekend {
	color: rgba(241, 98, 33, 0.5);
}

.calendar table .wn {
	border: 1px solid #d0e4f0;
	border-width: 0 1px 1px 0;
	background: #fff;
}

.calendar tbody .rowhilite td {
	background: #d0e4f0;
}

.calendar tbody .rowhilite td.wn {
	background: #d0e4f0;
	border-right: 1px solid #fff;
}

.calendar tbody td.hilite {
	border: none;
	box-shadow: 0 0 0 1px #7592a3 inset;
}

.calendar tbody td.active {
	border: none;
	background: #7592a3;
	color: #fff;
}

.calendar tbody td.selected {
	border: none;
	background: #ff8c00;
	color: #fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset;
}

.calendar tbody td.today {
	color: #f16221;
}

.calendar tbody .disabled {
	color: #a6c6d9;
}

.calendar tfoot .ttip {
	border: none;
	background: #7592a3;
}

.calendar tfoot .hilite {
	border: none;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset;
	background: #7592a3;
}

.calendar tfoot .active {
	border: none;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset;
	background: #7592a3;
}

.calendar .combo {
	border: none;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset;
	background: #a6c6d9;
	font-size: 12px;
}

.calendar .combo .active {
	background: #d0e4f0;
	border: none;
}

.calendar .combo .hilite {
	background: #7592a3;
	color: #fff;
}

.calendar td.time {
	border-top: 1px solid #bbb;
	background-color: #ecf4f9;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
	border: 1px solid #bbb;
	background-color: #fff;
}

.calendar td.time span.hilite {
	border-color: #ecf4f9;
	background-color: #7592a3;
	color: #fff;
}

.calendar td.time span.active {
	border-color: #ecf4f9;
	background-color: #475e6b;
	color: #ecf4f9;
}
